@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: 'Press Start 2P', 'Courier New', monospace;
  line-height: 1.4;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100vh;
}
